html{
    font-family: 'Raleway', sans-serif;
}
body{
  overflow-x: hidden;
}
a {
    color:black;
    text-decoration: none;
}
body {
    margin: 0;
    background-color: #d9d9d9;
}
.bar {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 1em;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0d560f;
    color: white;
    }
.bar li {
    float: left;
}
.bar li :hover{
  background-color: #082c09;
}
#logo1 > img{
    width: 90px;
}
li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30PX;
    text-decoration: none;
}

header{
    background-image: url("img/vista.jpg") ;
    width: 100%;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 3rem 2rem;

}
header h1{
    font-size: 5rem;
    text-align: center ;
}
.container{
    
    margin: 0 1em;
    display: flex;
	  flex-wrap: wrap;
	  justify-content: space-evenly;
    /*grid-auto-flow: column;*/
    /*grid-template-columns:repeat(4, calc(25% - 22.5px));
   /* place-items: center;*/
   /*grid-gap: 30px;*/
   
    
}
.section article{
    max-width: 300px; 
    height: 450px; 
    /*flex-grow: 1;*/
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border: solid #299d2c8c;
    border-left: none;
    border-bottom: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}
.section article p {
    margin: 0rem 1rem 0rem 1rem;
}
.precio p {
  color: #0b680e;
}
.section article ul {
  margin: 0rem 1rem 0rem 0rem;
}
.section article img {
    place-self: center;
    width: 90%;
    margin: 1em;
    border-radius: 0.5rem;

}
.section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3)
}
.section article h2, section article p{
    margin: 1rem;
}
.boton1{
  background-size: 100% 100%;
  border: solid 2px black;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 1em;
  margin-top: 1em;
}
.boton1:focus{
  outline: 0;
  }
.boton1:hover{
  padding: 5px 5px;
  }

footer {
    background-color: #0d560f;
    color: #fff;
    padding: 3rem;
    width: 100%;

}
footer section {
    float: right;
}
footer p {
    margin: none;
    padding: 0;
}
footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
    margin-right: 80px;
}
footer a:hover {
    color: #0d560f;
}
.intro {
    display: grid;
    place-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0 2em;
    margin: 0 1em;
    border: solid #299d2c8c;
    border-radius:0.5rem;
    margin-top: 1em;
}
.formulario {
    display: grid;
    place-items:center;

    background-color: aqua;
        }
        .customInfo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60vh;
          }
          .form {
            background-color: white;
            width: 400px;
            border: solid #299d2c8c;
            border-left: none;
            border-bottom: none;
            border-radius: 0.5rem;
            padding: 20px 40px;
            box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
          }
          
          .subtitle {
            font-size: 50px;
            margin-bottom: 50px;
          }
          .inputInfo {
            position: relative;
            height: 45px;
            width: 90%;
            margin-bottom: 17px;
          }
          .input {
            position: absolute;
            top: 0px;
            left: -5px;
            height: 100%;
            width: 100%;
            border: 1px solid #DADCE0;
            border-radius: 7px;
            font-size: 16px;
            padding: 4px 20px;
            outline: none;
            background: none;
            z-index: 1;
          }
          
          /* Hide the placeholder texts (a) */
          
          ::placeholder {
            color: transparent;
          }
          .label {
            position: absolute;
            top: 15px;
            left: 15px;
            padding: 0 4px;
            background-color: white;
            color: #DADCE0;
            font-size: 16px;
            transition: 0.5s;
            z-index: 0;
          }
          .submitBtn {
            display: block;
            margin-left: auto;
            padding: 15px 30px;
            border: none;
            background-color: #0d560f;
            color: white;
            border-radius: 6px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 30px;
          }
          
          .submitBtn:hover {
            background-color: #117515;
            transform: translateY(-2px);
          }
          .input:focus + .label {
            top: -7px;
            left: 3px;
            z-index: 10;
            font-size: 14px;
            font-weight: 600;
            color: #0d560f;
          }
          .input:not(:placeholder-shown)+ .label {
            top: -7px;
            left: 3px;
            z-index: 10;
            font-size: 14px;
            font-weight: 600;
          }
          .label1 {
            position: absolute;
            top: -3px;
            left: -16px;
            padding: 0 4px;
            background-color: white;
            color: #0d560f;
            font-size: 16px;
            transition: 0.5s;
            z-index: 0;
        }