html{
    font-family: 'Raleway', sans-serif;
}
a {
    color:black;
    text-decoration: none;
}
body {
    margin: 0;
    background-color: #d9d9d9;
}
.bar {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0d560f;
    }
.bar li {
    float: left;
}
li a {
    display: block;
    color: rgb(179, 179, 179);
    text-align: center;
    padding: 14PX;
    text-decoration: none;
}
header{
    background-image: url("img/vista.jpg") ;
    width: 100%;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 3rem 2rem;

}
header h1{
    font-size: 5rem;
    text-align: center ;
}
.container{
    
    margin: 0 1em;
    display: grid;
    /*grid-auto-flow: column;*/
    grid-template-columns: 1fr 1fr;
   /* place-items: center;*/
   gap: 1em;
   
    
}
section article{
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border: solid #299d2c8c;
    border-left: none;
    border-bottom: none;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    display: grid;
    cursor: pointer;
}
section article img {
    place-self: center;
    width: 90%;
}
section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3)
}
section article h2, section article p{
    margin: 1rem;
}
.boton1{
    background-size: 100% 100%;
    border: none;
  cursor: pointer;
  transition: 0.5s;
}
.boton1:focus{
    outline: 0;
  }
  .boton1:hover{
    padding: 5px 5px;
  }

footer {
    background-color: #0d560f;
    color: #fff;
    padding: 3rem;

}
footer section {
    float: right;
}
footer p {
    margin: none;
    padding: 0;
}
footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #0d560f;
}
.intro {
    display: grid;
    place-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0 2em;
    margin: 0 1em;
    border: solid #299d2c8c;
    border-radius:0.5rem;
    margin-top: 1em;
}